@use "./../colors.scss" as colors;

header {
  background-color: colors.$pink;
  min-height: 6.875rem;
  border-bottom: 1px solid colors.$white;
  position: sticky !important;
  top: 0;
  z-index: 100;

  a,
  &:hover {
    text-decoration: none;
  }

  li button {
    text-transform: none;
    background: none;
    border: 0;
    letter-spacing: 0;

    &:hover {
      text-decoration: underline;
      background: none;
      border: 0;
    }
  }
}

header a h1,
footer a h1 {
  text-transform: uppercase;
  color: colors.$white;
  text-decoration: none;
}

footer {
  background-color: colors.$black;
  color: colors.$white;
  min-height: 6.875rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

nav a:hover {
  text-decoration: underline;
}
