:root {
  --pink: #e2c4d0;
  --black: #000;
  --white: #fff;
  --grey: #7f8185;
  --dark-pink: #995069;
}

body {
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--black);
}

p,
span,
a,
button {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: var(--black);
}

button {
  width: 100%;
  min-height: 2rem;
  padding: 1rem 0;
  border: 1px solid var(--dark-pink);
  background-color: var(--white);
  color: var(--dark-pink);
  text-transform: uppercase;
  font-size: 0.625rem;
  white-space: nowrap;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: var(--dark-pink);
  color: var(--white);
}

header {
  background-color: var(--pink);
  min-height: 6.875rem;
  border-bottom: 1px solid var(--white);
  position: sticky !important;
  top: 0;
  z-index: 100;
}

header a,
header a:hover {
  text-decoration: none;
}

header a h1,
footer a h1 {
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* @media only screen and (min-width: 768px) {
  header {
    min-height: 0;
  }
} */

footer {
  background-color: var(--black);
  color: var(--white);
  min-height: 6.875rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

main {
  /* padding-right: 3rem; height: 100vh;
  padding-left: 3rem; */
}

.hero img {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
}

.hero hgroup {
  position: absolute;
  width: 50%;
  text-align: right;
  right: 3rem;
  top: 25%;
}

.hero hgroup h1:hover {
  font-size: 2.55rem;
  transition: font-size 0.5s ease-in-out;
}

.hero hgroup h1,
.hero hgroup h1 span,
.hero hgroup h3 {
  color: var(--white);
}

.product-card .product-description {
  border: 1px solid var(--grey);
  border-top: none;
  padding: 1rem;
  text-align: center;
}

.product-card img {
  height: 20rem;
  object-fit: cover;
}

.product-card h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carousel {
  width: 50%;
  height: 35rem;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-control-next:hover,
.carousel-control-prev:hover,
.btn-close:hover {
  background-color: transparent;
}

button.product-page__btn {
  border: 1px solid var(--black);
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white);
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 120%;
  vertical-align: middle;
}

button.product-page__btn:hover {
  background-color: var(--grey);
}

button.product-page__btn + span {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid var(--grey);
  border-radius: 1.25rem;
  font-size: 0.75rem;
  height: 2.5rem;
  padding: 0.625rem 3rem;
  width: 100%;
}

.offcanvas-header {
  border-bottom: 1px solid var(--grey);
}

.offcanvas-footer button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}

.cart img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
}
